.listComponent {
  display: block;
  width: 50%;
  margin: 20px auto;
  padding: 50px;
}

.table {
  width: 100%;
  border-spacing: 0;
}

.listHeader {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.tableHeader-cell,
.tableRow-cell {
  border: 1px solid #000000;
  height: 60px;
  padding: 0 4px;
}

.tableHeader {
  background-color: #c8c8c8;
}

.tableRow:nth-child(even) {
  background-color: #ebebeb;
}

.tableRow-cell--delete:hover {
  background-color: #aaaaaa;
  cursor: pointer;
}
